<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibm.hondaconnect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".TripDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <activity android:name=".PeerComparisonScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".DrivingAdviceScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".InsuranceScoreScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".PerformanceDetailsScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".RatingScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".ContextualAlertsScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".AlertsDetailsScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".TripScoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
 </application>

</manifest>